@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181818;
  --spotify: #1db954;
  --spotify-hover: #1ed760;
  --bv-white: #fefefe;
  --bv-black: #2c2828;
  --bv-dark-black: #110f0f;
  --bv-light-grey: #afafaf;
  --bv-grey: #797979;
  --bv-dark-grey: #313131;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  color: white;
  background: var(--background);
  transition: background 0.8s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

button,
a.linkButton {
  border-radius: 100px;
  border: none;
  padding: 10px 30px;
  transition: 0.3s ease;
  background-color: var(--bv-dark-black);
}

button:hover,
a.linkButton:hover {
  background-color: var(--bv-dark-grey);
}

#background-overlay {
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}

@keyframes swipeOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes swipeOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes swipeInLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swipeInRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-swipeOutLeft {
  animation: swipeOutLeft 0.4s forwards;
}

.animate-swipeOutRight {
  animation: swipeOutRight 0.4s forwards;
}

.animate-swipeInLeft {
  animation: swipeInLeft 0.4s forwards;
}

.animate-swipeInRight {
  animation: swipeInRight 0.4s forwards;
}
