@font-face {
  font-family: "GothamMedium";
  src: url(./assets/fonts/GothamMedium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamLight";
  src: url(./assets/fonts/GothamLight.ttf) format("truetype");
}

@font-face {
  font-family: "Gotham";
  src: url(./assets/fonts/GothamBook.ttf) format("truetype");
}

:root {
  --background-colour: #181818;
  --background-colour-white: #e4e4e4;
  --background-colour-blue: #273147;
  --black-colour: #191414;
  --black-colour-2: #2c2828;
  --blacker-colour: #110f0f;
  --white-colour: #ffffff;
  --grey-colour: #313131;
  --light-grey-colour: #9b9b9b;
  --spotify-colour: #1db954;
  --spotify-colour-2: #1ed760;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Gotham", sans-serif;
  overflow-x: hidden;
  background-color: var(--background-colour);
  color: var(--white-colour);
}

h1 {
  font-size: 2.5rem;
}

h4 {
  color: var(--light-grey-colour);
  font-family: "Gotham Light", sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  color: var(--white-colour);
  border-color: var(--white-colour);
  border-radius: 30px;
  border: none;
  padding: 10px 30px;
  transition: 0.3s ease;
  background-color: var(--blacker-colour);
  font-family: "Gotham Medium", sans-serif;
}

/* TODO search bar css code not applying*/
.form-group {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
}

.icon {
  position: absolute;
  left: 15px;
  font-size: 20px;
  background-color: transparent;
  cursor: text;
  /* display: inline-block;
  height: 1rem;
  width: 1rem; */
}

.searchbar {
  font-size: 1rem;
  border-radius: 30px;
  background-color: var(--white-colour);
  padding: 10px;
  padding-left: 50px;
  width: 450px;
  border: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* TODO end search bar css code not applying*/

/* TODO move this to login button */
.loginButton {
  background-color: var(--spotify-colour);
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  /* display: none; */
}

.loginButton:hover {
  background-color: var(--spotify-colour-2);
}
/* TODO end move this to login button */
